/* Eliminar estilos por defecto */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  

 /* Estilos generales */

 a, p, h3{
    font-family: "bc-civitas", sans-serif;  
}

 /* Estilos del hero */

 .hero{
    background-image: url(../assets/images/elementosDeco/fondoAtelier.jpeg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center top;
 }

 .capaHero{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-align: center;
 }

 /********ESTILOS SCROLL************/

 nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
 }



 nav.scrolled{
    background-color: #000000;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
 }

 nav.scrolled .logo{
    display: none;
 }

 nav.scrolled .menu{
    margin: 20px auto 20px auto;
 }


.logo{
    padding-top: 40px;
    font-family:"gelato-luxe", sans-serif;
    font-weight: 300;
    font-size: 2.8rem;
    margin: 1rem 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.menu{
    transition: all 0.5s ease-in-out;
    margin:30px auto 0px auto;
    margin-top:30px;
    display: flex;
    background-color: white;
    width: 70vw;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
}

.menu a{
    color: rgb(54, 54, 54);
    text-decoration: none;
    font-weight: 400;
    font-size:1.2rem;
    position: relative;  /*Estilos para Active*/
}

/****Estilos para Active****/

.menu a.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 20px;
    background: url('../assets/images/elementosDeco/underline2.png') no-repeat center;
    background-size: 100% 7px;
}


/*******FORMULARIO*******/

#formPresupuesto{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 60px auto 200px auto;
}

h1{
    color:#d8a405;
    font-family: "bc-civitas", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 120px auto 50px auto;
    text-align: center;
}

/*******DATOS CONTACTO*******/

.datosContacto{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 20px;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
}

.datosContacto h2{
    font-family: "bc-civitas", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 50px;
}

.campo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.campo label{
    width: auto;
    font-family: "bc-civitas", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.campo input{
    width: 75%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 8px;
    font-family: "bc-civitas", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
}

.check input{
    margin: 5px;
}





/********CONFIGURACION*******/

.configuracion{
    justify-content: center;
    text-align: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: auto 20px;
    padding: 30px;
    font-family: 'bc-civitas', sans-serif;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
}

.configuracion h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.configuracion .campo{
    background-color: #fff;
    width: auto;
    justify-content: center;
    gap: 30px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 15px ;
    margin-bottom: 30px;
}

.configuracion .campo input{
    width: 10px;
    height: auto;
    margin-right: 10px;
}

.configuracion .campo .plazo{
    width: 60px;
}

.configuracion h3{
    font-weight: 500;
    font-size: 1.2rem;
}

.botones button{
    width: 100px;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(4, 182, 222);
    background-color: rgb(4, 182, 222);
    font-family: "bc-civitas", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}


/*****Validacion de campos*****/

/* Campo válido */
.valido {
    border: 2px solid green !important;
}


/* Campo inválido */
.invalido {
    border: 2px solid red !important;
}


/********FOOTER*******/


.containerFooter{
    background-color: rgb(4, 82, 141);
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 10px 8px rgba(0,0,0,0.5);
}



.links{
    display:flex;
    width: 70%;
    height: auto;
    margin-left: 50px;
    gap: 150px;
}

.links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

/* Contenedor de iconos de redes sociales */

.redes{
    display:flex;
    width: 30%;
    height: auto;
    gap: 20px;
    justify-content: center;
}

/* Iconos de redes sociales */

.redes img{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
}

/* Contenedor de derechos de autor */

.final{
    background-color: #000000;
    height: 35px;
    display: flex;
    align-items: center;

}

/* texto de derechos de autor */

.fondoFooter p{
    color: #ffffff;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1rem;
}


/******ESTILOS AVISO LEGAL******/

.avisoLegal {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}


/* Título principal */

.avisoLegal h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}


/* Subtítulos */

.avisoLegal h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #d8a405;
}


/* Párrafos */

.avisoLegal p {
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
}



/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 768px) {



   /* nav */

    nav {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: relative;
        z-index: 2000;
    }


    /* Logo */

    .logo {
        font-size: 1.5rem;
        padding-top: 0;
    }


    nav.scrolled .logo {
        display: block;
    }


    /* Icono hamburguesa */

    .menuIcono {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        color: white;
    }


    /* Menu Responsive */

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;
        gap: 20px;
        z-index: 1010;
        background-color: white;
        box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }


    /* Mostrar menú */

    .mostrarMenu {
         display: flex !important;
    }


    /* Links menú */

    .menu a {
        width: 100%;
        text-align: center;
    }


    /* Línea activa */

    .menu a.active::after {
        width: 100%;
    }


  /* Formulario */

    #formPresupuesto {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }


    /* Datos contacto */

    .datosContacto {
        width: 100%;
        margin: 20px auto 50px auto;
    }


    .datosContacto input {
         width: 100%;
    }


    .campo {
        width: 100%;
    }


    /* Configuración de presupuesto */

    .configuracion {
        width: 100%;
        margin: 0 auto 80px auto;
    }


    /* Botones */

    .botones {
        display: flex;
        justify-content: center;
        gap: 10px;
        
    }



  /******FOOTER******/

    .containerFooter {
        flex-direction: column;
        height: auto;
    }

    .links {
        width: 90%;
    }

}